body {
    background-color: #ffffff;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 40px 40px;
  }

button {
    background-color: #c7e2b2;
    border-radius: 15%;
    color:#2f2519;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 3em;
    margin: 0px;
    margin-top: 20px;
}

button:hover {
    background-color: #e1ffc2;
}

div {
    margin: 20px auto;
    display: inline-block;
    width: 50%;
    position: absolute;
    top:0;
    left: 25%;
}

h1 {
    display: inline;
    margin:0;
}

img {
    border: solid 2px palevioletred;
}